{% extends "GrupaVideoNetBundle::layout.html.twig" %}
{% set start_active = '' %}
{% set filmy_active = ' active' %}
{% set forum_active = '' %}
{% set cos_active = '' %}
{% set kontakt_active = '' %}

{% block content %}
	<section id="categories">
		{% for category in categories %}
			<a class="category" href="<?php echo SCRIPT_NAME ?>../films/{{ category.name }} ">{{ category.name }}</a>
		{% endfor %}
	</section>
	{% for movie in movies %}
		<div id="name">{{ movie.name }}</div>
		
			<div id="name">{{ movie.category.name }}</div>
	
	{% endfor %}
{% endblock %}