{% extends "GrupaVideoNetBundle::layout.html.twig" %}
{% set start_active = '' %}
{% set filmy_active = ' active' %}
{% set forum_active = '' %}
{% set cos_active = '' %}
{% set kontakt_active = '' %}
{% set link = "" %}


{% block content %}
<section style="width:100%; max-width:1500px; margin:30px auto">
	<h2>Witaj {{ app.user.username }} w serwisie VideoNet!!</h2>

</section>

{% endblock %}